<h4 *ngIf="cart.length < 1">El carrito esta vacio</h4>
<div class="cart">
  <div class="item-cart">
    <app-product-cart
      [product]="product"
      *ngFor="let product of cart"
      (deletedProduct)="deletedToShoppingCart($event)"
      (updateQtyItem)="updateQty($event)"
      (updateQtyItem)="updateQty($event)"

    ></app-product-cart>
  </div>
  <div class="total-cart">
    <h2 *ngIf="total>0">Total: {{ total }} €</h2>
  </div>
  <div *ngIf="total>0" class="purchase">
    <button class="btn" routerLink="/purchase">Make a purchase</button>
  </div>
</div>
