<div>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <div class="form">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required ngModel />

      <label for="password">Password</label>
      <input type="password" name="password" id="password" ngModel />

      <label for="repeat-password"> Repeat Password</label>
      <input type="password" name="repeat-password" id="repeat-password" ngModel />

      <button type="submit" class="btn">Register</button>
    </div>
    <p *ngIf="messageError" class="message-error">{{ messageError }}</p>
  </form>
</div>
