<div>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="form">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Type your email..." required ngModel />

      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Type your password..." ngModel />

      <button type="submit" class="btn">Log in</button>
    </div>
    <div>
      <h5><a href="" routerLink="/register">Register</a></h5>
      <p><a href="" routerLink="">Do you want a seller?</a></p>
    </div>
  </form>
</div>
